.Skills {
    background:#18122B;
    padding: 50px 50px;
    scroll-margin-top: 30px;
}

.Skills p{
    line-height: 22px;
}

.Skills .Content-Skills .Knowledge .Technology {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
} 

.Skills .Content-Skills .Knowledge .Technology .technologies {
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Skills .Content-Skills .Knowledge .Technology .technologies i{
    font-size: 80px;
    margin-bottom: 10px;
}

@media (max-width: 780px) {
    .Skills .Content-Skills .Knowledge .Technology {
        grid-template-columns: repeat(3, 1fr);
    } 
}

/* Estilos para pantallas más pequeñas (hasta 600px) */
@media (max-width: 450px) {
    .Skills .Content-Skills .Knowledge .Technology {
        grid-template-columns: repeat(2, 1fr);
    } 
}